html {
    background-color: #6B7A8F;
}

a {
    color: black;
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
}

#header {
    background-color: #DBC7AA;
    color: white;
    padding: 10px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px; 
    text-align: center
}


#header_bar_left {
    padding: 0px;
}

#header_bar_right {
    display: inline-block;
}

.main_button {
    display: inline-block
}

.button_anchor {
    padding: 10px;
    font-size: 15px;
    background-color: white;
    border: 1px white solid;
    border-radius: 20px;
    transition: background-color 0.5s;
}

.button_anchor:hover {
    background-color: black;
    color: white;
}

.main_page {
    text-align: center;
}

.main_table {
    margin: auto;
    border-collapse: collapse;
}

#hover_tr {
    transition: background-color 0.5s;
}

#hover_tr:hover {
    background-color: gray;
}

.main_td {
    border: 1px white solid;
    text-align: left;
    width: 15vw;
}

.main_form_input {
    width: 25vw;
    height: 40px;
}

.confirm_info {
    border: 1px white solid;
    background-color: white;
    width: 360px;
    height: 40px;
    text-align: left;
    display: flex;
    align-items: center;
}

.page_title {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 60px;
    color: #FFFFFF;
    font-weight: 900;
    letter-spacing: -2px;
}

.page_text {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    color: white;
    font-weight: 900
    letter-spacing: -2px;
}

.search_button {
    width: 10vw;
    height: 5vh;
}