<header class="header">
    <div id="header_bar">
        <ul>
            <ol class="main_button"">
                <a href="/add_cca" class="button_anchor">Add new CCA</a>
            </ol>
            
            <ol class="main_button">
                <a href="/add_activity" class="button_anchor">Add new Activity</a>
            </ol>
            
            <ol class="main_button">
                <a href="edit_membership" class="button_anchor">Edit Membership (Student-CCA)</a>
            </ol>
            
            <ol class="main_button">
                <a href="edit_participation" class="button_anchor">Edit Participation (Student-Activity)</a>
            </ol>
            
        </ul>
    </div>
    
</header>