<header class="header">
    <div id="header_bar">


        <div id="header_bar_left">
            <ol class="main_button" style="padding-left: 0px">
                    <a href="/" class="button_anchor">Back to Home</a>
            </ol>   
        </div>

        
        <div id="header_bar_right">
            <ul style="padding-left: 0px">
                <ol class="main_button" style="padding-left: 0px">
                    <a href="/add_cca" class="button_anchor">Add new CCA</a>
                </ol>
                
                <ol class="main_button">
                    <a href="/add_activity" class="button_anchor">Add new Activity</a>
                </ol>
                
                <ol class="main_button">
                    <a href="edit_membership" class="button_anchor">Edit Membership (Student-CCA)</a>
                </ol>
                
                <ol class="main_button">
                    <a href="edit_participation" class="button_anchor">Edit Participation (Student-Activity)</a>
                </ol>
                
            </ul>
        </div>
        
    </div>
    
</header>