<header>
    
    <div id="header">
        
        <span id="header_bar_left">
            <ol class="main_button" style="padding-left: 0px">
                    <a href="/" class="button_anchor">Back to Home</a>
            </ol>   
        </span>

        
        <span id="header_bar_right">
            <ul>
                <ol class="main_button" style="padding-left: 0px">
                    <a href="/add_cca" class="button_anchor">Add new CCA</a>
                </ol>
                
                <ol class="main_button">
                    <a href="/add_activity" class="button_anchor">Add new Activity</a>
                </ol>

                <ol class="main_button">
                    <a href="/view_students" class="button_anchor">View all records U/C</a>

                <ol class="main_button">
                    <a href="/search_record" class="button_anchor">Search by name U/C</a>
                
            </ul>
        </span>
        
    </div>
    
</header>