<!DOCTYPE HTML>

<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

        <title>CCA Portal - Home</title>
    </head>

    <body>
        <div class="container">
            <button class="main_button">Add new CCA</button>
            <button class="main_button">Add new Activity</button>
            <button class="main_button">Edit Membership (Student-CCA)</button>
            <button class="main_button">Edit Participation (Student-Activity)</button>

        </div>
        
    </body>
</html>

