<!DOCTYPE HTML>

<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

        <title>CCA Portal - Home</title>
    </head>

    <body>

        {% include "header.html" %}

        <div class="main_page">
            <h1 class="page_title">NYJC CCA System</h1>

            <img src="{{ url_for('static', filename='images/nyjc_logo.png') }}"></img>

            <p class="page_text">
                <br>
                Welcome to NYJC's revamped CCA system!
                <br>
                Click on any button on the top to perform an action.
            </p>
        </div>
            
    </body>
</html>

