<!DOCTYPE HTML>

<html>
    
    <head>

        <link rel="stylesheet" href=" {{url_for('static', filename='styles.css') }} "/>
        
        <title>CCA Portal - Search for Record</title>
        
    </head>

    <body>
        
        {% include 'header.html' %}

        {% if type == "new" %}
        <div class="main_page">

            <h1 class="page_title">NYJC CCA System</h1>

            <p class="page_text">Enter student name:</p>

            <form
                action = "{{ form_meta['action'] }}"
                method = "{{ form_meta['method'] }}">

                <table class="main_table">

                    {% for name, value in form_data.items() %}
                    <tr>
                        <td>
                            <input
                                class = "main_form_input"
                                id = "{{ name }}"
                                type = "text"
                                name = "{{ name }}"
                                value = ""
                                placeholder = "{{ name.replace('_', ' ').title() }}"/>
                            <br>
                            <br>
                        </td>
                    </tr>
                    {% endfor %}

                    <tr>
                        <td>
                            <input
                                type="submit"
                                value="Submit"/>
                        </td>
                    </tr>
                    
                </table>
                
            </form>
            
        </div>
        {% endif %}

        {% if type == "search" %}
        <div class="main_page">
            <h1 class="page_title">NYJC CCA System</h1>

            <table class="main_table">
                {% for name, value in record_data.items() %}
                <tr>
                    <td class="page_text main_td">
                        {{ name.title() }}
                    </td>       

                    <td class="page_text main_td">
                        {{ value }}
                    </td> 
                </tr>
                {% endfor %}
            </table>

            <table class="main_table">
                <tr>
                    <br>
                    <br>
                    
                    <td>
                        <a 
                                href="/cca_membership?action=insert&student_name={{record_data_name.replace(' ','_')}}"><button class="search_button">Insert CCA Info</button></a>
                    </td>

                    <td>
                            <a 
                                href="/cca_membership?action=delete&student_name={{record_data_name.replace(' ','_')}}"><button class="search_button">Delete CCA Info</button></a>             
                    </td>
                </tr>

                <tr>
                    
                    <td>
                            <a 
                                href="/activity_participation?action=insert&student_name={{record_data_name.replace(' ','_')}}">
<button class="search_button">Insert Activity Info</button>
                            </a>
                    </td>

                    <td>
                        
                            <a 
                                href="/activity_participation?action=delete&student_name={{record_data_name.replace(' ','_')}}"><button class="search_button">Delete Activity Info</button></a>          
                    </td>
                </tr>
            </table>



        </div>
        {% endif %}
        
    </body>
    
</html>